.conteiner {
    width: 900px;
    background: bisque;
    display: flex;
    flex-wrap: wrap;
}
.title {
    width: 900px;
    text-align: center;
    height: 30px;
    margin: 10px;
    background: gray;
}
.monthDuration {
    width: 30%;
    background: tan;
    text-align: center;

}
.hourDuration {
   width: 70%;
    text-align: center;
    background: #8d8080;
}


